<header>
    <div class="logo">
        <a routerLink="/">
            <img src="images/logo.png" alt="Logo Red Roosters Gaming"/>
        </a>
    </div>

    <nav aria-label="Navigation principale" class="unbounded">
        <ul>
            <li>
                <a
                    routerLink="/stats">
                    Stats
                </a>
            </li>
            <li>
                <a
                    routerLink="/community">
                    Community
                </a>
            </li>
            <li>
                <a
                    routerLink="/media">
                    Media
                </a>
            </li>
        </ul>
    </nav>
</header>
