@use 'mixins.scss' as m;

// TODO: Burger Menu quand sur layout mobile

header {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 4rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;

    @include m.glass-surface;
    @include m.glass-border($bottom: 1);
}

.logo {
    padding: 0 2rem;

    a {
        display: block;

        img {
            height: 3rem;
        }
    }

}

nav {
    display: flex;
    height: 1.5rem;
    padding: 1.25rem 2rem;

    ul {
        align-items: center;
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-weight: 700;
            text-transform: uppercase;

        }
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}