

header {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 2rem;
    justify-content: space-between;
    padding: 1rem 1rem;

    nav {
        ul {
            align-items: center;
            display: flex;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}
