<header>
    <div class="logo">
        <a routerLink="/">Home</a>
    </div>

    <nav aria-label="Navigation principale">
        <ul>
            <li>
                <a routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    Accueil
                </a>
            </li>
            <li>
                <a routerLink="/stats"
                   routerLinkActive="active">
                    Stats
                </a>
            </li>
            <li>
                <a routerLink="/community"
                   routerLinkActive="active">
                    Community
                </a>
            </li>
            <li>
                <a routerLink="/media"
                   routerLinkActive="active">
                    Media
                </a>
            </li>
        </ul>
    </nav>
</header>