:host > div {
    padding: 8rem 1.5rem;
}

.over-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: .75rem;
    text-transform: uppercase;
}

.content-text {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -2.46px;
    line-height: 85%;
    text-transform: uppercase;
}

.under-text {}