@use 'mixins' as m;

:host {
    & > div {
        align-items: center;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 2rem;

        @include m.glass-surface();

        & > div {
            &:first-child {
                font-size: 1rem;
            }
            &:last-child {
                font-size: 1.5rem;
            }
        }
    }
}