@use 'mixins' as m;

section {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    align-items: end;
    display: flex;
    height: 100%;
    width: 100%;

    &.left {
        justify-content: start;

        .pitch-content {
            border-radius: 0 .5rem 0 0;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &.right {
        justify-content: end;

        .pitch-content {
            border-radius: .5rem 0 0 0;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    @include m.below-small {
        display: block;

        .left,
        .right {
            justify-content: initial;

            .pitch-content {
                border: none;
                border-radius: 0;
            }
        }
    }
}

.pitch-image {
    position: absolute;
    inset: 0;
    z-index: -1;

    @include m.below-small {
        position: relative;
    }

    img {
        object-fit: cover;

        @include m.below-small {
            position: relative !important; // FIXME: trouver pourquoi la position est absolue.
        }
    }
}

.pitch-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
    padding: 3rem;
    position: relative;
    width: 22rem;

    @include m.below-large {
    }

    @include m.below-small {
        padding: 3rem 1rem;
        width: calc(100% - 2rem);
    }

    &.clear {
        color: #1a1a1a;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(4px);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        inset: 0;
        -webkit-backdrop-filter: blur(4px);
    }

    &.dark {
        color: #f9f9f9;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        inset: 0;
        -webkit-backdrop-filter: blur(8px);
    }
}

.content-headings {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.over-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

    @include m.below-small {
        font-size: .75rem;
    }
}

.title-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 85%;
    text-transform: uppercase;

    @include m.below-small {
        font-size: 2rem;
        line-height: 120%;
    }
}

.content-text {
    font-size: 1.125rem;
    // font-weight: 300;
    font-weight: 400;
    line-height: 120%;

    @include m.below-small {
        font-size: 1rem;
    }
}