section {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    align-items: end;
    display: flex;
    height: 100%;
    width: 100%;

    &.left {
        justify-content: start;

        .pitch-content {
            border-radius: 0 .5rem 0 0;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &.right {
        justify-content: end;

        .pitch-content {
            border-radius: .5rem 0 0 0;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

.pitch-image {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
        height: auto !important;
    }
}

.pitch-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1rem;
    padding: 2rem;
    position: relative;
    width: 20vw;


    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    inset: 0;
    -webkit-backdrop-filter: blur(8px);

    .over-text {
        font-size: 1rem;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
    }

    .title-text {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 85%;
        text-transform: uppercase;
    }

    .content-text {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 120%;
    }
}