@mixin glass-surface {
    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(8px);
}

@mixin glass-border($top: 0, $right: 0, $bottom: 0, $left: 0) {
    @if $top == 1 {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $right == 1 {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $bottom == 1 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $left == 1 {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
}
