@use 'variables' as v;


// Mixin pour écrans inférieurs à 1600px de large;
@mixin below-large {
    @media (max-width: v.$bp-large) {
        @content;
    }
}

// Mixin pour écrans inférieurs à 720px de large;
@mixin below-small {
    @media (max-width: v.$bp-small) {
        @content;
    }
}

@mixin text-body {
    font-size: 1.125rem;
    // font-weight: 300;
    font-weight: 400;
    line-height: 120%;
}

@mixin text-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 85%;
    text-transform: uppercase;
}

@mixin glass-surface($opacity: 0.5, $blur: 8px) {
    color: #f9f9f9;
    background: rgba(0, 0, 0, $opacity);
    backdrop-filter: blur($blur);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur($blur);
}

@mixin glass-border($top: 0, $right: 0, $bottom: 0, $left: 0) {
    @if $top ==1 {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $right ==1 {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $bottom ==1 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    @if $left ==1 {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
}