section {
    position: relative;
    height: 100%;
    width: 100%;

    .hero-image {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        pointer-events: none;
        z-index: -1;
    }

    .hero-content {
        bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: absolute;
        height: fit-content;
        left: 1.5rem;
        padding: 1rem 2rem;

        h1, h2 {
            margin: 0;
        }

        h1 {
            text-transform: uppercase;
            font-size: 6rem;
        }
    }
}