@use "mixins" as m;

footer {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    padding: 1rem 2rem;

    @include m.glass-surface;
    @include m.glass-border(1,0,0,0);
}