:host {
    display: flex;
    flex-direction: column;
}

app-hero-section {
    background-color: rgba(0,0,0,.1);
    height: calc(100vh - 4rem);
}

app-text-block {
    height: 20vh;
}

app-pitch-block {
    height: 100vh;
}