/* You can add global styles to this file, and also import other style files */
@use "variables" as v;

@import 'normalize.css';

html {
    font-family: v.$base-font-family;
    font-size: v.$base-font-size;
    scrollbar-width: smooth;
}

body {
    background-color: v.$background-color;
    color: v.$color;
}

.unbounded {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}